[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
coverage = "*"

[packages]
boto3 = "~=1.35"
crhelper = "~=2.0"

[requires]
python_version = "3.12"
